.logo1 {
    width: 80px;
    height: 80px;
}
.navbar {
    background-color: #ffffff4f;
    background-image: none;
}

.nav-link-left a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.nav-link-left > a:hover {
    color: #ffffff;
    text-shadow: none;
    transition: 0.4s;
}

/* .header-guest {
    padding: 50px;
} */